/* @media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
} */

*{
padding: 0;
margin: 0;
}

/* HEADER */
header{
height: 20px;
}

header nav ul{
display: flex;
margin-left: 70%;
list-style: none;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header nav ul li{
padding-left: 10%;
}

header a{
text-decoration: none;
color: purple;
font-size: 1rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

section{
height: 100vh;
/*border: 1px solid grey;*/
display: flex;
justify-content: center;
align-items: center;
}

/* IMAGE */
.Container img{
height: 300px;
border-radius: 50%;
}

/* HEADER 1 */
.Container h1{
  margin-top: 2%;
  font-size: 3em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* HEADER 2 */
.Container h2{
margin-top: 2%;
font-size: 1em;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Container p, ul{
margin-top: 2%;
font-size: 1.5rem;
}

/* FOOTER */
footer {
line-height: 40px;
display: flex;
justify-content: center;
font-size: 1rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#intro {
background-image: url(pinkbg.jpg);
background-repeat: round;
}
#about{
background-color: whitesmoke;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#contact{
background-color: ghostwhite;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* Responsive Design */
@media (max-width: 768px) {
    nav a {
        display: block;
        margin-bottom: 10px;
    }
    
    header, main {
        padding: 20px;
    }
}